<h1>Listing requi_answers</h1>

<table>
  <thead>
    <tr>
      <th>Requisition</th>
      <th>Requi question</th>
      <th>Question</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requi_answers.each do |requi_answer| %>
      <tr>
        <td><%= requi_answer.requisition %></td>
        <td><%= requi_answer.requi_question %></td>
        <td><%= requi_answer.question %></td>
        <td><%= requi_answer.text %></td>
        <td><%= link_to 'Show', requi_answer %></td>
        <td><%= link_to 'Edit', edit_requi_answer_path(requi_answer) %></td>
        <td><%= link_to 'Destroy', requi_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requi answer', new_requi_answer_path %>
