%p#notice= notice
%p
  %strong Requisition:
  = @requi_answer.requisition
%p
  %strong Requi question:
  = @requi_answer.requi_question
%p
  %strong Question:
  = @requi_answer.question
%p
  %strong Text:
  = @requi_answer.text
= link_to 'Edit', edit_requi_answer_path(@requi_answer)
|
= link_to 'Back', requi_answers_path
