<h1>Listing requi_questions</h1>

<table>
  <thead>
    <tr>
      <th>Requisition</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requi_questions.each do |requi_question| %>
      <tr>
        <td><%= requi_question.requisition %></td>
        <td><%= requi_question.question %></td>
        <td><%= link_to 'Show', requi_question %></td>
        <td><%= link_to 'Edit', edit_requi_question_path(requi_question) %></td>
        <td><%= link_to 'Destroy', requi_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requi question', new_requi_question_path %>
