%p#notice= notice
%p
  %strong Requisition:
  = @requi_question.requisition
%p
  %strong Question:
  = @requi_question.question
= link_to 'Edit', edit_requi_question_path(@requi_question)
|
= link_to 'Back', requi_questions_path
