<%= bootstrap_form_for(@requisition) do |f| %>
<% if @requisition.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@requisition.errors.count, "error") %> prohibited this requisition from being saved:</h2>

  <ul>
    <% @requisition.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class="row">
  <div class="col-md-4">
    <%= f.select :property_type, property_types %> 
  </div>
  <div class="col-md-4">
    <%= f.text_field :vendor %>
    <%= f.label :vendor_solicitor %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :purchaser %>
    <%= f.label :purchaser_solicitor %>
  </div>
</div>
<%= f.submit 'Next' %>
<% end %>
