%p#notice= notice
%p
  %strong Vendor:
  = @requisition.vendor
%p
  %strong Purchaser:
  = @requisition.purchaser
= link_to 'Edit', edit_requisition_path(@requisition)
|
= link_to 'Back', requisitions_path
